

*{
    margin: 0;
}


.pera > h1{
    text-align: center;
}

.pera{
   height: 150px;
   background-color: aquamarine;
   margin: 5px;
   padding: 10px;
}



.examList > ol{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(18, 68, 231);
    font-style: oblique;
    margin-top: 10px;
    
}

.examList > li {
    text-align: justify;
}